.nav {
    grid-area: n;
    background-color: rgb(83, 82, 85);
    padding: 20px;
  }

  .item a{
    color: rgb(117, 125, 243);
    text-decoration: none;
  }

  .active a {
    color: gold;
    text-decoration: none;
  }

  
 
  